<%= link_to new_essay_path do %>
  <div class="card bg-primary text-white">
    <div class="card-body text-center">
      <h2>Upload a new essay</h2>
      <h4 class="header-title">And get detailed feedback within 48 hours</h4>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <h4 class="header-title">Your current essays</h4>
      <p class="text-muted font-14">These are awaiting feedback from one of our markers:</p>
    <table class="table table-striped table-centered mb-0">
        <thead class="table-dark">
            <tr>
                <th>Subject</th>
                <th>Date Uploaded</th>
                <th>Essay Title</th>
                <th>Date Returned</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>English</td>
                <td>July 24, 1950</td>
                <td>Brave New World</td>
                <td>July 26, 1950</td>
                <td><span class="badge bg-primary">With marker</span></td>
            </tr>
            <tr>
                <td>Ann C. Thompson</td>
                <td>646-473-2057</td>
                <td>January 25, 1959</td>
                <td>
                    <!-- Switch-->
                    <div>
                        <input type="checkbox" id="switch02" checked data-switch="success"/>
                        <label for="switch02" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Paul J. Friend</td>
                <td>281-308-0793</td>
                <td>September 1, 1939</td>
                <td>
                    <!-- Switch-->
                    <div>
                        <input type="checkbox" id="switch03" data-switch="success"/>
                        <label for="switch03" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Linda G. Smith</td>
                <td>606-253-1207</td>
                <td>May 3, 1962</td>
                <td>
                    <!-- Switch-->
                    <div>
                        <input type="checkbox" id="switch04" data-switch="success"/>
                        <label for="switch04" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h4 class="header-title">Your returned essays</h4>
      <p class="text-muted font-14">The essays you have uploaded in the past:</p>
    <table class="table table-striped table-centered mb-0">
        <thead class="table-dark">
            <tr>
                <th>Subject</th>
                <th>Date Uploaded</th>
                <th>Essay Title</th>
                <th>Date Returned</th>
                <th>Feedback</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>English</td>
                <td>July 24, 1950</td>
                <td>Brave New World</td>
                <td>July 26, 1950</td>
                <td><button type="button" class="btn btn-primary rounded-pill">View</button></td>
            </tr>
            <tr>
                <td>Ann C. Thompson</td>
                <td>646-473-2057</td>
                <td>January 25, 1959</td>
                <td>
                    <!-- Switch-->
                    <div>
                        <input type="checkbox" id="switch02" checked data-switch="success"/>
                        <label for="switch02" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Paul J. Friend</td>
                <td>281-308-0793</td>
                <td>September 1, 1939</td>
                <td>
                    <!-- Switch-->
                    <div>
                        <input type="checkbox" id="switch03" data-switch="success"/>
                        <label for="switch03" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Linda G. Smith</td>
                <td>606-253-1207</td>
                <td>May 3, 1962</td>
                <td>
                    <!-- Switch-->
                    <div>
                        <input type="checkbox" id="switch04" data-switch="success"/>
                        <label for="switch04" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
